<h3>Selected Post</h3>
<hr>
<div class=""><%=@blog.title%></div>
<div class=""><%=@blog.date%></div>
<div class=""><%=@blog.content%></div>

<br>
<div class=""><a href="/show/<%=@blog.id%>/edit">EDIT</a></div>
